

<h1 class="page-title<%= '--white' if defined? color %> text--left">Header 1 – page-title</h1>
<p class="page-subtitle<%= '--white' if defined? color %> text--left">page-subtitle</p>

<h2 class="section-title<%= '--white' if defined? color %> text--left">Header 2 – section-title</h2>

<h3 class="text-title<%= '--white' if defined? color %>">Header 3 – text-title</h3>

<h4 class="text-subtitle<%= '--white' if defined? color %>">Header 4 – text-subtitle</h4>

<h5 class="text-lead<%= '--white' if defined? color %>">Header 5 – text-lead</h5>
<p class="text-lead<%= '--white' if defined? color %>">Text-lead – First and foremost, every line of code in Charlie has been written with your security in mind. We used the very latest framework releases, re-used tried and tested modules, and apply fundamental security considerations in every aspect of the software design.</p>

<h6 class="text-body<%= '--white' if defined? color %>">Header 6 – text-body</h6>
<p class="text-body<%= '--white' if defined? color %>">Text-body – Charlie forces HTTPS for everything, including on our public website. SSL (Secure Sockets Layer) and TLS (Transport Layer Security) are mechanisms for safely transmitting data. The SSL protocol is both outdated and insecure, and has since been replaced by TLS. However, the term “SSL” continues to be colloquially used, referring to a general mechanism for protecting transmitted data.</p>
<p class="text-body<%= '--white' if defined? color %>">Connection with Charlie are encrypted and authenticated using AES-128 and uses ECDHE as the key exchange mechanism.</p>
<p class="text-body<%= '--white' if defined? color %>">SSL and TLS does two things. Firstly, encrypt and verify traffic between the browser and the server. Secondly, verifying that the browser is talking to the right server. This helps to prevent attacks where someone tries to intercepts a communication between two systems.</p>

<p class="text-label<%= '--white' if defined? color %>">Label text</p>
<p class="text-caption<%= '--white' if defined? color %>">Caption text</p>
